<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_0_0_0_0_0_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,506},{118,160}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,46},{118,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_0_spin_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{116,160}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{116,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_0_spin_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,592},{98,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,46},{98,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_0_spin_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,626},{96,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,46},{96,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_0_spin_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,344},{124,160}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,46},{124,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_0_spin_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{118,160}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,46},{118,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_0_spin_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{96,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,46},{96,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_0_spin_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,470},{120,160}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{120,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_1_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{124,194}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,12},{124,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_1_spin_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,128},{122,194}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,12},{122,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_1_spin_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{96,182}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,24},{96,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_1_spin_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,252},{96,182}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,24},{96,182}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_1_spin_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{124,188}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,18},{124,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_1_spin_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,350},{118,174}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,32},{118,174}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_1_spin_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,164},{98,178}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,28},{98,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_1_spin_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,194}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,12},{126,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_0_0_0_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{120,162}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{120,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamescene.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fd008aa12f20c164e70dfd2395138ae$</string>
            <key>textureFileName</key>
            <string>gamescene.png</string>
        </dict>
    </dict>
</plist>
