<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_4_0_0_0_0_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{226,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_0_spin_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,152},{158,178}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,51},{158,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_0_spin_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,454},{140,148}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,51},{140,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_0_spin_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{154,160}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,39},{154,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_0_spin_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{226,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_0_spin_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,312},{156,154}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,45},{156,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_0_spin_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,312},{140,150}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,51},{140,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_0_spin_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{152,148}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,51},{152,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_1_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{226,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_1_spin_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,152},{158,178}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,51},{158,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_1_spin_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,454},{140,148}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,51},{140,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_1_spin_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{154,160}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,39},{154,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_1_spin_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{226,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_1_spin_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,312},{156,154}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,45},{156,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_1_spin_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,312},{140,150}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,51},{140,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_1_spin_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{152,148}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,51},{152,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_4_0_0_0_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,51},{226,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_4_0_0_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:322f38252d9c57ac0e29ac7c5a76f286$</string>
            <key>textureFileName</key>
            <string>role_4_0_0_0.png</string>
        </dict>
    </dict>
</plist>
