<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_5_0_0_0_0_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,386},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,51},{226,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_5_0_0_0_0_spin_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,344},{158,178}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,51},{158,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_5_0_0_0_0_spin_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,442},{140,148}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,51},{140,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_5_0_0_0_0_spin_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,320},{154,160}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{154,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_5_0_0_0_0_spin_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,51},{226,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_5_0_0_0_0_spin_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,844},{156,154}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,45},{156,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_5_0_0_0_0_spin_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,636},{140,150}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,51},{140,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_5_0_0_0_0_spin_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{158,178}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,51},{158,178}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_5_0_0_0_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{226,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,51},{226,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_6_0_0_0_0_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{226,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,45},{226,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_6_0_0_0_0_spin_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,800},{158,184}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,45},{158,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_6_0_0_0_0_spin_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,300},{140,158}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,41},{140,158}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_6_0_0_0_0_spin_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,524},{154,160}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{154,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_6_0_0_0_0_spin_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{226,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{226,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_6_0_0_0_0_spin_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,686},{156,156}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,43},{156,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_6_0_0_0_0_spin_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,158},{140,160}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,41},{140,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_6_0_0_0_0_spin_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,482},{152,152}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{152,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_6_0_0_0_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{226,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{226,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_7_0_0_0_0_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{226,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_7_0_0_0_0_spin_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,614},{158,184}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,45},{158,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_7_0_0_0_0_spin_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,158},{140,160}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{140,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_7_0_0_0_0_spin_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,158},{154,160}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{154,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_7_0_0_0_0_spin_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{226,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_7_0_0_0_0_spin_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,844},{156,154}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,45},{156,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_7_0_0_0_0_spin_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,158},{140,162}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,39},{140,162}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_7_0_0_0_0_spin_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{158,184}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,45},{158,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_7_0_0_0_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{226,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{226,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>badGuy.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd048ba6d56bb639e632e064b1ceed15$</string>
            <key>textureFileName</key>
            <string>badGuy.png</string>
        </dict>
    </dict>
</plist>
