<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_0_1_1_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,388},{118,160}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,46},{118,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_1_1_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,388},{120,160}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{120,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_1_1_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,266},{120,160}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{120,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_1_2_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,388},{118,160}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,46},{118,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_1_2_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,266},{120,160}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{120,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_1_2_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,266},{120,160}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{120,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_2_1_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,264},{128,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,46},{128,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_2_1_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,134},{130,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{130,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_2_1_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,134},{130,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{130,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_2_2_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,264},{128,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,46},{128,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_2_2_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,134},{130,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{130,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_2_2_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{130,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{130,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_3_1_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,134},{128,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,46},{128,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_3_1_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{130,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{130,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_3_1_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{130,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{130,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_3_2_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,134},{128,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,46},{128,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_3_2_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{130,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{130,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_3_2_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{130,160}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{130,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_4_1_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{134,160}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{134,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_4_1_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{134,160}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{134,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_4_1_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{134,160}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{134,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_4_2_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{134,160}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{134,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_4_2_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{134,160}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{134,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_0_4_2_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,160}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{134,160}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roleFive.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13faba9949f8a5766e66163820fc0747$</string>
            <key>textureFileName</key>
            <string>roleFive.png</string>
        </dict>
    </dict>
</plist>
