<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_1_1_1_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1022},{196,202}}</string>
                <key>offset</key>
                <string>{27,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,46},{196,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_1_1_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1016},{196,202}}</string>
                <key>offset</key>
                <string>{27,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{196,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_1_1_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1016},{196,202}}</string>
                <key>offset</key>
                <string>{27,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{196,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_1_2_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,818},{196,202}}</string>
                <key>offset</key>
                <string>{27,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,46},{196,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_1_2_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,818},{196,202}}</string>
                <key>offset</key>
                <string>{27,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{196,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_1_2_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,818},{196,202}}</string>
                <key>offset</key>
                <string>{27,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{196,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_2_1_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,818},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_2_1_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_2_1_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,614},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_2_2_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,614},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_2_2_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,614},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_2_2_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_3_1_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,410},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_3_1_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,410},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_3_1_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,410},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_3_2_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_3_2_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,206},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_3_2_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,206},{206,202}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{206,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_4_1_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,206},{210,202}}</string>
                <key>offset</key>
                <string>{20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{210,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_4_1_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{210,202}}</string>
                <key>offset</key>
                <string>{20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{210,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_4_1_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{210,202}}</string>
                <key>offset</key>
                <string>{20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{210,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_4_2_1_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{210,202}}</string>
                <key>offset</key>
                <string>{20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{210,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_4_2_2_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,202}}</string>
                <key>offset</key>
                <string>{20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{210,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>role_1_4_2_3_3_spin_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,202}}</string>
                <key>offset</key>
                <string>{20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{210,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roleFour.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6a1d772ff3a3d8f4ed7a14f2f085b41$</string>
            <key>textureFileName</key>
            <string>roleFour.png</string>
        </dict>
    </dict>
</plist>
